body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.footer{
    width: auto;
    height: 72px;
    background-color: #6c86aa;
    margin-top: auto;
    color: #FAF9F8;
    display: flex;
    align-items: center;
    justify-content: center;
}